html,
body {
  margin: 0;
  background: linear-gradient(to bottom, #b3ffff 0%, #e6e6ff 13%);
}
body{
  margin: 0;
  background: linear-gradient(to bottom, #e6e6ff 20%, #b3ffff 30%);
}
a,
a:link,
a:visited {
  text-decoration: none;
}

.active {
  font-style: italic;
}

/* Media Queries */
/* Total mobile responsiveness by removing the main title
    class when the max width is less than 400px */
@media (max-width: 400px) {
  .main-tile{
    display: none;
  }
}