html,
body {
  margin: 0;
  background-color: #f6f9fc;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.active {
  font-style: italic;
}

/* Media Queries */
/* Total mobile responsiveness by removing the main title
    class when the max width is less than 400px */
@media (max-width: 400px) {
  .main-tile{
    display: none;
  }
}